@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    ViewData["PageCssClass"] = "user-management-page";
}

@section Styles {
    <environment names="Development">
        <link href="~/src/css/user_management.account.global.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/assets/css/skeleton.user.management.min.css" rel="stylesheet" />
    </environment>
}

<div class="user-management-box">
    <div class="user-management-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><b>@ViewData["ApplicationName"]</b> App</a>
    </div>
    <!-- /.user-management-logo -->
    <div class="user-management-box-body">
        <p class="user-management-box-msg">@T["Sign in to start your session"]</p>

        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="form-group has-feedback">
                <input type="email" asp-for="Email" class="form-control" placeholder="@T["Email"]" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="help-block"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">@T["Sign In"]</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a asp-area="UserManagement" asp-controller="Account" asp-action="SignIn" class="text-center">@T["I already have a membership"]</a><br />
        <a asp-area="UserManagement" asp-controller="Account" asp-action="SignUp" class="text-center">@T["Register a new membership"]</a>
    </div>
    <!-- /.user-management-box-body -->
</div>
<!-- /.user-management-box -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}